html, body {
  min-height: 100% !important;
  height: 100%;
}

.col2 {
  min-height: 40%;
  display: inline-block;
  width: 46%;
}

.console {
  min-height: 40%;
  border: 1px solid black;
  overflow-y: auto;
}